

<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://geonode.org/" class="nav-link">
                <span>GeoNode</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>Developers</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="https://siga.monterrey.gob.mx/" class="nav-link">
                <span>SIGA</span>
            </a>
        </li>
    </ul>
</footer>
