<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .container {
            display: flex;
            justify-content: center;
        }
        
        .column {
            margin: 5%;
            text-align: center;
        }
        .material-icons {
            font-size: 5em;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <a href="#">
                <i class="material-icons">location_city</i>
            </a>
            <p>Ciudad</p>
        </div>
        <div class="column">
            <a href="#">
                <i class="material-icons">wind_power</i>
            </a>
            <p>Energía</p>
        </div>
        <div class="column">
            <a href="#">
                <i class="material-icons">local_florist</i>
            </a>
            <p>Flora</p>
        </div>
        <div class="column">
            <a href="#">
                <i class="material-icons">local_hospital</i>
            </a>
            <p>Salud</p>
        </div>
        <div class="column">
            <a href="#">
                <i class="material-icons">local_police</i>
            </a>
            <p>Seguridad</p>
        </div>
    </div>
</body>
</html>