{% extends 'geonode-mapstore-client/_geonode_config.html' %}
{% block override_local_config %}
<script>
    window.__GEONODE_CONFIG__.overrideLocalConfig = function(localConfig, _) {
        // Here the localConfig can be overridden and/or extended

        Object.keys(localConfig.plugins).forEach((pageName) => {
            if (['dataset_edit_data_viewer','dataset_edit_style_viewer','dataset_embed','dataset_preview','dataset_viewer','dataset_viewer_mobile'].includes(pageName)) {
                localConfig.plugins[pageName].forEach((plugin) => {
                    if (['Map','MapFooter','Toolbar','ZoomIn','ZoomOut','MapThumbnail','OmniBar','Search','Locate','FitBounds','Legend','ScaleBox','BackgroundSelector'].includes(plugin.name)) {
                        plugin.cfg = _.merge(plugin.cfg, {
                            disablePluginIf: "{state('gnResourceData').subtype === 'tabular'}"
                        });
                    }
                });
            }
        });

        /*localConfig.plugins['catalog'].forEach((plugin) => {
            if(plugin.type === 'tab'){
            plugin.cfg.detailsTabs.forEach((tab) => {
                    if (tab.name === 'locations') {
                        tab.disablePluginIf = "{state('gnResourceData').subtype === 'tabular'}"
                    }
                })
            }
        });*/

        localConfig.catalogHomeRedirectsTo = '/';

        console.log('localConfig', localConfig);

        return localConfig;
    };
</script>
{% endblock %}
